@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.ant-btn-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}